<?xml version="1.0" encoding="UTF-8" ?>
<!--此文件需要放在resource的最顶层,程序运行时会自动扫描加载classpath:log4j.xml-->
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c(%F:%L) \#\# %m%n" name="ConversionPattern"/>
        </layout>
    </appender>

    <!--自定义appender-->
    <appender name="SERVICELOG" class="org.apache.log4j.RollingFileAppender">
        <param value="UTF-8" name="encoding"/>
        <param name="File" value="logs/model1.log"/>  <!--日志路径-->
        <param name="Append" value="false"/> <!--是否追加-->
        <param name="MaxBackupIndex" value="3"/>        <!--最大roll的文件数-->
        <param name="MaxFileSize" value="10240"/> <!--文件size上限-->
        <param value="INFO" name="Threshold"/>
        <layout class="org.apache.log4j.PatternLayout">          <!--日志输出格式-->
            <param value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c(%F:%L) \#\# %m%n" name="ConversionPattern"/>
        </layout>
    </appender>

    <!--自定义logger，additivity: 是否遵循缺省的继承机制-->
    <logger name="service" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="SERVICELOG"/>
    </logger>
    <root>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>